<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<form-login authentication-success-handler-ref="ajaxAuthenticationSuccessHandler"
			authentication-failure-handler-ref="ajaxAuthenticationFailureHandler"
			login-page='/login.htm'/>
		<logout logout-url="/logout" success-handler-ref="ajaxLogoutSuccessHandler" />
		<intercept-url pattern="/pages/**"
			access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<remember-me />

	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
		      select username, password, enabled
		      from user where username=?"

				authorities-by-username-query="
		      select u.username,ur.name from user_role ur, user u where u.username=?  and ur.id = u.role" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>