 <div class="tab-pane active fade in" id="benefitType">

            <!-- start add benefit -->
            <form validate="validate" id="" role="form" class="form-horizontal col-md-9 ng-pristine ng-invalid ng-invalid-required" name="myForm">
			<div class="prof-tab-title col-md-12 pull-left padding-zero"><div class="title-font pull-left">Benefit Type <span class="add-link" ng-click="addType()"><a href="" id="addDetails">[ Add <i class="fa fa-plus-circle"></i> ]</a></span>
</div>
               <div class="subnavbar pull-right">
                  <ul class="nav pull-right">
                    <li class="dropdown">
				<button class="btn btn-primary pull-right dropdown-toggle search-fltr" data-toggle="dropdown" type="button"><i class="fa fa-filter"></i></button> 
                <ul class="dropdown-menu pull-right search-dd drp-dwn-align">
                    <li><label>&nbsp;<input type="radio" name="isMailing" ng-value="1"
				id="optionsRadios1" ng-model="isMailing" required> Benefit category</label></li>
                    <li><label>&nbsp;<input type="radio" name="isMailing" ng-value="2"
				id="optionsRadios1" ng-model="isMailing" required> Benefit type</label>
                </ul>                 
                	</li>
                  </ul>
				</div>
				 
				 <div class="col-md-4 pull-right search-bx padding-zero">
                <input class="form-control search-query" type="text" ng-show="isMailing== 1" placeholder="Search Category"
				ng-model="search.benefitCategory.category">
				 <input class="form-control search-query" type="text"
				ng-show="isMailing== 2" placeholder="Search Type" ng-model="search.type">
				 <input class="form-control" type="text"  name="" placeholder="Search" ng-hide="isMailing== 1 || isMailing== 2 ">
				</div>

			 
                   
                
              </div>
 
               <div class="col-lg-5 padding-zero" id="addForm"
					style="display: none">
                <label for="" class="col-md-6 padding-zero">Benefit category</label>
                 <select id="type" name="benefit" class="form-control"
									ng-model="benefitType.benefitCategory" required
									ng-options="type as type.category for type in benefitCategoryList">
									<option class="" value="" ng-selected="selected">Select
										</option>
								</select><br>
                                  <label for="" class="col-md-6 padding-zero">Benefit type</label>
                  <input class="form-control" type="text" name="addr" ng-model="benefitType.type" required><br>
                   <label for="" class="col-md-8 padding-zero">Benefit type description</label>
                  <input class="form-control" type="text" name="addr" ng-model="benefitType.description" required><br>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 padding-zero button-align">
							<button type="button" ng-click="cancel()"
							class="btn btn-warning pull-right btn-align-reg">
							<i class="fa fa-times-circle"></i> Cancel
							</button>
							<button ng-click="addBenefitType()" type="submit" class="btn btn-primary pull-right">
								<i class="fa fa-save"></i> Save
							</button>                        
				</div>                  
                  </div>

                  <table width="100%" class="table-hover table-striped table table-bordered">
                    <tbody>
                      <tr>
                        <th>Benefit category</th>
                        <th>Benefit type</th>  
                        <th>Benefit type description</th>     
                        <th class="width10">Edit</th>
                        <th class="width10">Delete</th>                                           
                      </tr>
                      <tr data-ng-repeat="benefit in benefitTypeList | filter:search:strict | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td>{{benefit.benefitCategory.category}}</td>
                        <td>{{benefit.type}}</td>
                         <td>{{benefit.description}}</td>
                        <td class="settings-edit"><a href="" ng-click="editBenefitType(benefit)"><i class="fa fa-edit"></i></a></td>
                        <td class="settings-delete"><a href="" ng-click="deleteBenefitType(benefit)"><i class="fa fa-trash-o"></i></a></td>                        
                      </tr>
					 
                    </tbody>
                  </table>
                  <button  class="btn btn-primary"  ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button  class="btn btn-primary"  ng-disabled="currentPage >= benefitTypeList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>

              </form>
            <!-- end add benefit --> 
          </div>



<!-- <div class="tab-pane active fade in" id="benefitType">
	<div validate="validate" id="validation-form" role="form"
		class="form-horizontal col-md-12 tab-cont-align" name="myForm">

		<div class="prof-tab-title">Benefit Type</div>
		<a href="#add" data-toggle="modal">Add Benefit Type</a>




		<div class="radio  col-md-2">
			<label><input type="radio" name="isMailing" ng-value="1"
				id="optionsRadios1" ng-model="isMailing" required> Category</label>
		</div>


		<div class="radio  col-md-2">
			<label><input type="radio" name="isMailing" ng-value="2"
				id="optionsRadios1" ng-model="isMailing" required> Type</label>
		</div>



		<div>

			<input type="text" ng-show="isMailing== 1" placeholder="Search"
				ng-model="search.benefitCategory.category" class="search-query"
				style="width: 80px"> <input type="text"
				ng-show="isMailing== 2" placeholder="Search" ng-model="search.type"
				class="search-query" style="width: 80px">

			<button type="submit" class="btn"
				ng-hide="isMailing== 1 || isMailing== 2 ">Search</button>

			<table width="100%"
				class="table-hover table-striped table table-bordered"
				style="margin-top: 30px;">
				<thead>
					<tr>
						<th>Category</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="benefit in benefitTypeList | filter:search:strict | startFrom:currentPage*pageSize | limitTo:pageSize">

						<td>{{benefit.benefitCategory.category}}</td>
						<td>{{benefit.description}}</td>
						<td><a href="#edit" ng-click="editBenefitType(benefit)"
							data-toggle="modal">Edit</a>| <a
							ng-click="deleteBenefitType(benefit)">Delete</a></td>

					</tr>
				</tbody>
			</table>
			<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >=  benefitTypeList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
		</div>
		<div role="dialog" class="modal fade in" id="add">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" data-dismiss="modal" class="close"
							type="button">X</button>
						<h4 class="modal-title">Add Benefit Type</h4>
					</div>
					<div class="modal-body">
						<fieldset>
							<div class="col-md-12">

								<div class="col-md-5">

									<input type="hidden" name="id" ng-model="benefitType.id">
								</div>

							</div>
							<label for="" class="col-md-6">Category</label>
							<div class="col-md-5">
								<select id="type" name="benefit" class="form-control"
									ng-model="benefitType.benefitCategory" required
									ng-options="type as type.category for type in benefitCategoryList">
									<option class="" value="" ng-selected="selected">Select
										Category</option>
								</select>
							</div>
							<div>&nbsp;</div>
							<div>&nbsp;</div>

							<label for="" class="col-md-6">Type</label>
							<div class="col-md-5">
								<input type="text" name="type" placeholder="Type"
									class="form-control" ng-model="benefitType.type" required>
							</div>

							<div>&nbsp;</div>
							<div>&nbsp;</div>

							<label for="" class="col-md-6">Description</label>
							<div class="col-md-5">
								<input type="text" name="type" placeholder="Description"
									class="form-control" ng-model="benefitType.description"
									required>
							</div>

							<div>&nbsp;</div>
							<div>&nbsp;</div>


							<button class="btn btn-success pull-right" type="submit"
								ng-click="addBenefitType()" value="Save">Save</button>
						</fieldset>
					</div>
				</div>

			</div>
		</div>

		<div role="dialog" class="modal fade in" id="edit">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" data-dismiss="modal" class="close"
							type="button">X</button>
						<h4 class="modal-title">Edit Benefit Type</h4>
					</div>
					<div class="modal-body">
						<fieldset>

							<div class="col-md-12">

								<div class="col-md-5">

									<input type="hidden" name="id" ng-model="benefitType.id">
								</div>
							</div>

							<label for="" class="col-md-6">Category</label>
							<div class="col-md-5">
								<input type="text" name="type" placeholder="Category"
									class="form-control"
									ng-model="benefitType.benefitCategory.category" required>
							</div>



							<div>&nbsp;</div>
							<div>&nbsp;</div>


							<label for="" class="col-md-6">Type</label>
							<div class="col-md-5">
								<input type="text" name="type" placeholder="Type"
									class="form-control" ng-model="benefitType.type" required>
							</div>


							<div>&nbsp;</div>
							<div>&nbsp;</div>


							<label for="" class="col-md-6">Description</label>
							<div class="col-md-5">
								<input type="text" name="type" placeholder="Description"
									class="form-control" ng-model="benefitType.description"
									required>
							</div>

							<div>&nbsp;</div>

							<button class="btn btn-success pull-right" type="submit"
								ng-click="addBenefitType()" value="Save">Save</button>

						</fieldset>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
-->