<div class="registration-title">Change Password</div>
<div id="page-wrapper">
	<div class="container incr-height">
		<form name="myForm" class="form-horizontal" role="form"
			id="validation-form" validate="validate"
			ng-controller="saveEmployeeController">
			<div class="align-cntr-reg">
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-lg-11">

							<input type="password" class="form-control" name="old" id="old"
								placeholder="Old password" ng-model="oldpassword" required="" /> <br> <input
								type="password" class="form-control" name="new" id="new"
								placeholder="New password" ng-model="newpassword" required="" /><div ng-blur="">
								<span class="message">{{password}}</span></div> <br> <input
								type="password" class="form-control" name="confirm" id="confirm"
								placeholder="Confirm password" ng-model="confirmpassword" required="" /><div ng-blur="">
								<span class="message">{{pwd}}</span></div> <br>

							<div>
							<button type="button" id="" ng-click="cancel()"
								class="btn btn-warning col-md-3 pull-right btn-align-reg">
								<i class="fa fa-times-circle"></i> Cancel
							</button>
							<button type="button" id="" ng-click="savePassword()"
								class="btn btn-primary col-md-3 pull-right">
								<i class="fa fa-save"></i> Save
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


