<!--  <div class="col-md-3">
          <div class="col-md-12 well grid-height1">
            <section class="panel panel-box">
              <div class="panel-right panel-item bg-reverse">
                <p class="size-h1 margin-zero"></p>
                <p class="pnl-text2 dbrd-loc">Location</p>
                <p class="pnl-text3 margin-zero">Now in Cabin #40</p>
              </div>
              <div class="panel-left panel-item bg-warning"> <i class="fa fa-map-marker text-large"></i> </div>
            </section>
          </div>
          <div class="col-md-12 well grid-height1">
            <section class="panel panel-box">
              <div class="panel-right panel-item bg-reverse"><a href="">
                <p class="size-h1 margin-zero" style="margin-top:8px !important;"></p>
                <p class="pnl-text2 dbrd-lev">Available Leaves</p>
                <p class="pnl-text3 margin-zero"> No. of Leaves</p>
                </a> </div>
              <div class="panel-left panel-item bg-info"> <i class="fa fa-copy text-large"></i> </div>
            </section>
          </div>
          <div class="col-md-12 well grid-height1">
            <section class="panel panel-box">
              <div class="panel-right panel-item bg-reverse"><a ui-sref="manageUsers">
                <p class="size-h1 margin-zero" style="margin-top:8px !important;"></p>
                <p class="pnl-text2 dbrd-lev">Manage Users</p>
                <p class="pnl-text3 margin-zero"> </p>
                </a> </div>
              <div class="panel-left panel-item bg-info"> <i class="fa fa-copy text-large"></i> </div>
            </section>
          </div>
          <div class="col-md-12 well grid-height1">
            <section class="panel panel-box">
              <div class="panel-right panel-item bg-reverse"><a href="#">
                <p class="pnl-text2 dbrd-upld" ng-click="getLeaveTotal()">Upload your</p>
                <p class="pnl-text3 margin-zero">Official Documents</p>
                </a> </div>
              <div class="panel-left panel-item bg-success"> <i class="fa fa-upload text-large"></i> </div>
            </section>
          </div>
          <div class="col-md-12 well grid-height3">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-list-ul icon-alignment"></i> Quote of the day
                <div class="pull-right"><a href="#"><i class="fa fa-rotate-right icon-ref"></i></a></div>
              </div>
              <div class="panel-body blk-qot-img">
                <blockquote> In order to carry a positive action we must develop here a positive vision. </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-12 well grid-height4 video-corner">
            <embed width="100%" height="171" src="http://www.youtube.com/v/V8_wEZD160g" type="application/x-shockwave-flash"> </embed>
            <div class="video-arw"></div>
            <div class="video-txt-hldr"><i class="fa fa-film video-icon"></i> Archive Videos </div>
            <div class="pull-left video-nav">
            <a href="#"><i class="fa fa-caret-left"></i></a> <a href="#"><i class="fa fa-caret-right" style="color:#CCC;"></i></a>
            </div>
            <div class="pull-right video-txt">Todays Video</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 padding-left0">
            <div class="col-md-12 well grid-height1">
              <section class="panel panel-box">
                <div class="panel-right panel-item-proj bg-reverse">
                  <p class="pnl-text4">Projects</p>
                  <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">HRMS Project-Reviews -</p>
                  </a> <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">SunEdison-Phase three -</p>
                  </a> <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">SunPower-iPhone App -</p>
                  </a>
                  <p class="pnl-text3 margin-zero dbrd-proj"><a href="#"><i class="fa fa-arrow-circle-right panel-arw"></i></a></p>
                </div>
                <div class="panel-left panel-item bg-proj"> <i class="fa fa-desktop text-large"></i> </div>
              </section>
            </div>
            <div class="col-md-12 well grid-height1">
              <section class="panel panel-box">
                <div class="panel-right panel-item-proj bg-reverse">
                  <p class="pnl-text4">Benefits</p>
                  
                  <a ui-sref="benefitCategory">
                  <p class="pnl-text3 margin-zero dbrd-proj">Benefit Category -</p>
                  </a>
                  
                  <a ui-sref="benefitType">
                  <p class="pnl-text3 margin-zero dbrd-proj">Benefit Type -</p>
                  </a> 
                  
                  <a ui-sref="benefit"> 
                  <p class="pnl-text3 margin-zero dbrd-proj">Benefit -</p>
                  </a>
                  
                  <p class="pnl-text3 margin-zero dbrd-proj"><a href="#"><i class="fa fa-arrow-circle-right panel-arw"></i></a></p>
                </div>
                <div class="panel-left panel-item bg-benf"> <i class="fa fa-star text-large"></i> </div>
              </section>
            </div>
             <div class="col-md-12 well grid-height1">
              <section class="panel panel-box" ng-click="getEmployment()">
                <div class="panel-right panel-item-proj bg-reverse"><a href="">
               
                  <p class="pnl-text4">Employment Manage</p></a>
                  <p class="pnl-text3 margin-zero dbrd-proj"><a href="#"><i class="fa fa-arrow-circle-right panel-arw"></i></a></p>
                </div>
                <div class="panel-left panel-item bg-benf"> <i class="fa fa-star text-large"></i> </div>
              </section>
            </div>
          </div>
          <div class="col-md-6 padding-right0">
            <div class="col-md-12 well grid-height1">
              <section class="panel panel-box dbrd-trpy-bg">
                <div class="panel-right panel-item-proj bg-reverse dbrd-trpy"> <i class="fa fa-trophy trpy-clor"></i> <a href="#">
                  <p class="pnl-text2 margin-zero">Performance</p>
                  <p class="pnl-text3 margin-zero dbrd-proj">Review</p>
                  </a> </div>
              </section>
            </div>
            <div class="col-md-12 well grid-height1">
              <section class="panel panel-box">
                <div class="panel-right panel-item-proj bg-reverse">
                  <p class="pnl-text4">Training</p>
                  <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">Windows Certification -</p>
                  </a> <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">SQL Certification -</p>
                  </a> <a href="#">
                  <p class="pnl-text3 margin-zero dbrd-proj">Adobe Certification -</p>
                  </a>
                  <p class="pnl-text3 margin-zero dbrd-proj"><a href="#"><i class="fa fa-arrow-circle-right panel-arw"></i></a></p>
                </div>
                <div class="panel-left panel-item bg-cert"> <i class="fa fa-credit-card text-large"></i> </div>
              </section>
            </div>
          </div>
          
          <div class="col-md-12 well grid-height7 clndr-hldr">
          <div class="clndr-header">
          <div class="pull-left"><i class="fa fa-calendar"></i> My Events</div> 
          <div class="clndr-header-txt">Wednesday, Jun 18, 2014</div>
          <div class="pull-right"><i class="fa fa-share icon-ref"></i></div> 
          </div>
			<div class="clndr-hldr-inr" id="calendar"></div>
          </div>
          
          
          <div class="col-md-12 well grid-height4">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-star-o icon-alignment"></i> Surprise Corner</div>
              <div class="panel-body padding-zero">
                <div class="pull-left surp-txt">
                  <div class="pull-right"><img src="../assets/images/game-psudoku.png" width="164" height="148" ></div>
                  <div class="pull-right text-right">
                    <i class="fa fa-gift gift-clor"></i><span class="surp-txt1">Solve this Psudoku</span> <br />
                    <span class="surp-txt2">And win a prize</span></div>
                    <a class="btn btn-sm btn-danger pull-right surp-btn" href="#"><i class="fa fa-hand-o-up"></i> Click Here</a>
                </div>
                <div class="surp-game-hldr"><a href="#"><img src="../assets/images/game-marrio-img.png" width="87" height="65"></a>MARIO <br />
                  <a href="#"><img src="../assets/images/game-pac-man.png" width="86" height="57"></a>PAC MAN</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 well grid-height2 bg-img-climate">
            <div class="img-upload-hldr"><i class="fa fa-arrow-circle-o-up"></i> <a href="#">Upload your own image</a></div>
            <div class="climate-hldr">
              <div class="climate-txt">
                <div id="cont_ab8f6bbf1fccba719fdf921ec397b069"> <span id="h_ab8f6bbf1fccba719fdf921ec397b069"><a id="a_ab8f6bbf1fccba719fdf921ec397b069" href="http://www.yourweather.co.uk/weather_Coimbatore-Asia-India-Coimbatore-VOCB-1-13212.html" target="_blank" rel="nofollow" style="color:#656565;font-family:Arial;font-size:12px;">Forecast Coimbatore</a></span> 
                  <script type="text/javascript" src="http://www.yourweather.co.uk/wid_loader/ab8f6bbf1fccba719fdf921ec397b069"></script> 
                </div>
              </div>
              <div style="font-size:12px; float:left; margin-top:35px; margin-left:10px;">
                <input type="radio" name="country" />
                Coimbatore <br>
                <input type="radio" name="country" />
                CA </div>
            </div>
          </div>
          <div class="col-md-12 well grid-height6">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-bell icon-animated-bell icon-alignment"></i> Announcement 's
                <div class="pull-right"><a href="#"><i class="fa fa-rotate-right icon-ref"></i></a></div>
              </div>
              <div class="panel-body announce padding-zero">
                <ul>
                  <li>
                    <div class="alert alert-success alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <a href="#">Lorem ipsum dolor sit ame tsdfs a consectetur - 1 ...</a>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                    <div class="alert alert-warning alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <a href="#">Lorem ipsum dolor sit ame tsdfs a consectetur - 1 ...</a>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                  </li>
                  <li>
                    <div class="alert alert-warning alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <a href="#">Lorem ipsum dolor sit ame tsdfs a consectetur - 2 ...</a>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                    <div class="alert alert-success alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <a href="#">Lorem ipsum dolor sit ame tsdfs a consectetur - 2 ...</a>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 well  grid-height6">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-comments-o icon-alignment"></i> Knowledgebase
                <div class="pull-right"><a href="#"><i class="fa fa-share icon-ref"></i></a></div>
              </div>
              <div class="panel-body knowledgebs1 padding-zero">
                <ul>
                  <li>
                    <div class="knowledgebs-hldr"><a href="#">Lorem ipsum dolor sit amet, consee-1...</a> <span class="label label-danger"><a href="#">Answer?</a></span>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                    <div class="knowledgebs-hldr"><a href="#">Lorem ipsum dolor sit amet, consee-1...</a> <span class="label label-info"><a href="#">Message</a></span>
                      <div class="pull-right"><i>10 July 2014</i></div>
                    </div>
                    <hr>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 well  grid-height6">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-link icon-alignment"></i> Useful links
                <div class="pull-right"><a href="#"><i class="fa fa-share icon-ref"></i></a></div>
              </div>
              <div class="panel-body">
                <ul class="useful-link-hldr">
                  <li class="us-lnks-head">Microsoft</li>
                  <li><a href="#">Microsoft Store</a></li>
                  <li><a href="#">Microsoft Products</a></li>
                  <li><a href="#">Microsoft .net</a></li>
                  <li><a href="#">ASP .net</a></li>
                  <li><a href="#">DotNetNuke</a></li>
                </ul>
                <ul class="useful-link-hldr sep-mrg">
                  <li class="us-lnks-head">Graphics</li>
                  <li><a href="#">Adobe Products</a></li>
                  <li><a href="#">CorelDraw</a></li>
                  <li><a href="#">Blender</a></li>
                  <li><a href="#">Inkscape</a></li>
                  <li><a href="#">Autodesk 3ds Max</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

<div id="wrapper">
	<div id="page-wrapper">
		<div class="container incr-height">
			<!--Start Content -->
			<div class="prof-tab-title col-md-12 pull-left padding-zero">
				<div class="title-font pull-left">HR DASHBOARD</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item-proj-hr bg-reverse dbrd-trpy">

							<span class="box-icon bg-success"> <i
								class="fa fa-thumbs-o-up"></i>
							</span> <a ui-sref="ManageBenefits.benefitCategory">
								<div class="hr-pnls-titl">
									<p class="pnl-text4 margin-zero">Benefits</p>
									<p class="pnl-text3 margin-zero dbrd-proj-hr">Manage
										Benefits</p>
								</div>
							</a>
						</div>
					</section>
				</div>
				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item bg-reverse">
							<a ui-sref="ManageEmployment.jobTitle">
								<p class="pnl-text2 dbrd-lev-hr">Employment</p>
								<p class="pnl-text3 margin-zero">Manage Employment</p>
							</a>
						</div>
						<div class="panel-left panel-item bg-cert">
							<i class="fa fa-briefcase text-large"></i>
						</div>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item-proj-hr bg-reverse dbrd-trpy">

							<span class="box-icon bg-info"> <i class="fa fa-group"></i>
							</span> <a ui-sref="ManageEmployee.manageUsers">
								<div class="hr-pnls-titl">
									<p class="pnl-text4 margin-zero">Employee</p>
									<p class="pnl-text3 margin-zero dbrd-proj-hr">Manage
										Employee</p>
								</div>
							</a>
						</div>
					</section>
				</div>
				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item bg-reverse">
							<a href="#">
								<p class="pnl-text2 dbrd-lev-hr">Announcements</p>
								<p class="pnl-text3 margin-zero">Enter announcements</p>
							</a>
						</div>
						<div class="panel-left panel-item bg-success">
							<i class="fa fa-bell text-large"></i>
						</div>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item bg-reverse">
							<a ui-sref="Manage-Leaves.leaveBalance">
								<p class="pnl-text2 dbrd-lev-hr">Leaves</p>
								<p class="pnl-text3 margin-zero">Manage Leaves</p>
							</a>
						</div>
						<div class="panel-left panel-item bg-info">
							<i class="fa fa-edit text-large"></i>
						</div>
					</section>
				</div>


				<div class="col-md-3" ui-sref="recruitment.jobCandidate">
					<section class="panel panel-box">
						<div class="panel-right panel-item-proj-hr bg-reverse dbrd-trpy">

							<span class="box-icon bg-benf"> <i
								class="fa fa-credit-card"></i>
							</span> <a href="#">
								<div class="hr-pnls-titl">
									<p class="pnl-text4 margin-zero">Recruitment</p>
									<p class="pnl-text3 margin-zero dbrd-proj-hr">Manage
										Recruitment</p>
								</div>
							</a>
						</div>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item bg-reverse">
							<a href="#">
								<p class="pnl-text2 dbrd-lev-hr">Quote</p>
								<p class="pnl-text3 margin-zero">Manage qutoes</p>
							</a>
						</div>
						<div class="panel-left panel-item bg-proj">
							<i class="fa fa-quote-right text-large"></i>
						</div>
					</section>
				</div>

				<div class="col-md-3">
					<section class="panel panel-box">
						<div class="panel-right panel-item-proj-hr bg-reverse dbrd-trpy">

							<span class="box-icon bg-warning"> <i class="fa fa-link"></i>
							</span> <a href="#">
								<div class="hr-pnls-titl">
									<p class="pnl-text4 margin-zero">Useful Links</p>
									<p class="pnl-text3 margin-zero dbrd-proj-hr">Insert useful
										links</p>
								</div>
							</a>
						</div>
					</section>
				</div>

			</div>

		</div>
		<!--End Content -->
	</div>
	<!-- /#container -->