<div class="tab-pane active fade in" id="posting">

	<form validate="validate" id="" role="form"
		class="form-horizontal col-md-9 ng-pristine ng-invalid ng-invalid-required"
		name="myForm">

<div class="prof-tab-title col-md-12 pull-left padding-zero"><div class="title-font pull-left">Job Posting <span class="add-link" ng-click="addDetails()"><a href="" id="addDetails">[ Add <i class="fa fa-plus-circle"></i> ]</a></span>
</div>
               <div class="subnavbar pull-right">
                  <ul class="nav pull-right">
                    <li class="dropdown">
				<button class="btn btn-primary pull-right dropdown-toggle search-fltr" data-toggle="dropdown" type="button"><i class="fa 

fa-filter"></i></button> 
                <ul class="dropdown-menu pull-right search-dd search-query drp-dwn-align">
               	
				<li><label>&nbsp;<input type="radio" name="isSearch" ng-value="1"
				id="optionsRadios1" ng-model="isSearch" required> Job Title</label></li>
                    <li><label>&nbsp;<input type="radio" name="isSearch" ng-value="2"
				id="optionsRadios1" ng-model="isSearch" required>Priority</label></li>
                </ul>                
                	</li>
                  </ul>
				</div>
				 <div class="col-md-4 pull-right search-bx padding-zero">
                <input class="form-control search-query" type="text" ng-show="isSearch== 1" placeholder="Search JobTitle"
				ng-model="search.jobTitle">
				
				 <input class="form-control search-query" type="text"
				ng-show="isSearch== 2" placeholder="Search Time" ng-model="search.jobTimeframe">

			<input class="form-control" type="text"  name="" placeholder="Search" ng-hide="isSearch== 1 || isSearch== 2">
                </div> 
              </div>		
		
			<div class="col-lg-5 padding-zero" id="addForm" style="display: none">
			
				<label for="" class="col-md-6 padding-zero">Job Title</label> <select
					id="type" name="jobTitle" class="form-control"
					ng-model="jobCandidate.jobVacancy" required
					ng-options="type as type.jobTitle for type in jobTitleList">
					<option class="" value="" ng-selected="selected">Select</option>
				</select>
				<br>  
				
				<label for="" class="col-md-6 padding-zero">Department</label> <select
					id="type" name="jobTitle" class="form-control"
					ng-model="jobCandidate.jobVacancy" required
					ng-options="type as type.jobTitle for type in jobTitleList">
					<option class="" value="" ng-selected="selected">Select</option>
				</select>
				<br> 
				
				<label for="" class="col-md-6 padding-zero">No of Positions</label> <input
					type="text" name="noOfPositions" class="form-control"
					ng-model="jobVacancy.noOfPositions" required>
				<br> 
				
				<label for="" class="col-md-6 padding-zero">Experience</label> <input
					type="text" name="jobExperience" class="form-control"
					ng-model="jobVacancy.jobExperience" required>
				<br>
				
				<label for="" class="col-md-6 padding-zero">Skill Set</label> <textarea
					type="text" name="jobDescription" class="form-control"
					ng-model="jobVacancy.jobDescription" required placeholder="Comments" cols="50" rows="2"></textarea>
				<br>
				
				
			    <label for="" class="col-lg-6 padding-zero">Priority</label>
			
				<span class="radio col-md-8">
						<label><input type="radio" name="jobTimeframe" value="Low" class="ng-pristine ng-valid ng-invalid-required"  id="optionsRadios1" ng-model="jobVacancy.jobTimeframe">Low</label>
          		</span>
				<span class="radio col-md-8">
						<label><input type="radio" name="jobTimeframe" value="Medium" class="ng-pristine ng-valid ng-invalid-required"  id="optionsRadios2" ng-model="jobVacancy.jobTimeframe">Medium</label>
				</span>
				<span class="radio col-md-8">
						<label><input type="radio" name="jobTimeframe" value="High" class="ng-pristine ng-valid ng-invalid-required"  id="optionsRadios3" ng-model="jobVacancy.jobTimeframe">High</label>
				</span>
				<br>
				
				<label for="" class="col-md-6 padding-zero margin-top15">Job Description</label> <textarea
					type="text" name="jobDescription" class="form-control"
					ng-model="jobVacancy.jobDescription" required placeholder="Comments" cols="50" rows="4"></textarea>
				<br>
				
				<label for="" class="col-md-6 padding-zero">Technical Panel</label> <select
					id="type" name="jobTitle" class="form-control"
					ng-model="jobCandidate.jobVacancy" required muliple="multiple"
					ng-options="type as type.jobTitle for type in jobTitleList">
					<option class="" value="" ng-selected="selected">Select</option>
				</select>
				<br> 
				
				<label for="" class="col-md-6 padding-zero">Application Date</label>
				<div class="col-md-12 padding-zero">
				<div class="input-group">
							<input type="text" id="datepicker" ng-model="jobCandidate.date" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Application Date" name="date" required>
							<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
				</div>
				<br> 
				
				<div
					class="col-md-12 col-xs-12 col-sm-12 col-lg-12 padding-zero  margin-top15 button-align">
					<button type="button" ng-click="cancel()" ng-disabled="loading"
						class="btn btn-warning pull-right btn-align-reg">
						<i class="fa fa-times-circle"></i> Cancel
					</button>
					<button ng-click="addVacancy()" ng-disabled="loading" type="submit" class="btn btn-primary pull-right">
						<i class="fa fa-save"></i> <span data-ng-hide="loading">Send</span>
						<span data-ng-show="loading"> Send<i class="fa fa-spinner fa-spin"></i> </span>
					</button>
					
				</div>
			</div>
			<br>
			<table width="100%"
				class="table-hover table-striped table table-bordered">
				<tbody>
					<tr>
						<th>Posted by</th>
						<th>Job Title</th>
						<th>Department</th>
						<th>No of Positions</th>
						<th>Experience</th>
						<th>Skill Set</th>
						<th>Priority</th>
						<th>Technical Panel</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					 <tr data-ng-repeat="vacancy in jobVacancyList | filter:search:strict | startFrom:currentPage*pageSize | limitTo:pageSize">
					 	<td>{{vacancy.employee.firstName}} {{vacancy.employee.lastName}}</td>
						<td>{{vacancy.jobTitle}}</td>
						<td>{{vacancy.noOfPositions}}</td>
						<td>{{vacancy.jobExperience}}</td>
						<td>{{vacancy.jobTimeframe}}</td>
						<td>{{vacancy.jobDescription}}</td>
						<td class="settings-edit"><a href="" ng-click="editVacancy(vacancy)" data-toggle="modal"><i
								class="fa fa-edit"></i></a></td>
						<td class="settings-delete"><a href="" ng-click="delVacancy(vacancy)"><i
								class="fa fa-trash-o"></i></a></td> 
					</tr> 
					
				</tbody>
			</table>
			 <button  class="btn btn-primary"  ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button  class="btn btn-primary" ng-disabled="currentPage >= jobVacancyList.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>

		
	</form>

</div>

