<div class="tab-pane active fade in" id="jobTitle"
	ng-controller="jobTitleController">

	<form validate="validate" id="" role="form"
		class="form-horizontal col-md-9 ng-pristine ng-invalid ng-invalid-required"
		name="myForm">
<!-- 	<div class="prof-tab-title col-md-12 padding-zero">
			Job Title <span class="add-link" ng-click="addJob()"><a href="" id="addDetails">[
					Add <i class="fa fa-plus-circle"></i> ]
			</a></span>
			<div class="input-group col-md-5 pull-right search-bx">
				<input type="text" class="form-control search-query" placeholder="Search" ng-model="search.title">
				<span class="input-group-btn">
					<button class="btn btn-default search-style"
						 
						type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
				
			</div>
			
		</div>-->

			<div class="prof-tab-title col-md-12 pull-left padding-zero"><div class="title-font pull-left">Job title <span class="add-link" ng-click="addJob()"><a href="" id="addDetails">[ Add <i class="fa fa-plus-circle"></i> ]</a></span>
</div>
               <div class="subnavbar pull-right">
                  <ul class="nav pull-right">
                    <li class="dropdown">
				<!-- <button class="btn btn-primary pull-right dropdown-toggle search-fltr" data-toggle="dropdown" type="button"><i class="fa 

fa-filter"></i></button>  -->
               <!--  <ul class="dropdown-menu pull-right search-dd">
                    <li><a href="#" data-original-title="" title="">Employee ID</a></li>
                    <li><a href="profile.html" data-original-title="" title="">Employee Name</a></li>
                    <li><a href="#" data-original-title="" title="">Department</a></li>
                </ul>      -->           
                	</li>
                  </ul>
				</div>
                <div class="col-md-4 pull-right search-bx padding-zero">
                    <input class="form-control" type="text"  name="" placeholder="Search Job title" ng-model="search.title">
                </div>
              </div>		

		<div class="col-lg-5 padding-zero" id="addForm" style="display: none">

			<div class="col-md-12">

				<div class="col-md-5">

					<input type="hidden" name="id" ng-model="jobTitle.id">
				</div>

			</div>


			<label for="" class="col-md-6 padding-zero">Job title</label> <input
				class="form-control" type="text" name="title"
				ng-model="jobTitle.title" required> <br> <label for=""
				class="col-md-6 padding-zero">Job description</label>
			<textarea class="form-control" type="text" name="description"
				ng-model="jobTitle.description" required>
                  </textarea>
			<br>
            <label for="" class="col-md-6 padding-zero">Band</label> 
				<select id="type" name="jobBand" class="form-control"
					ng-model="jobTitle.band" required
					ng-options="type as type.name for type in bands">
					<option class="" value="" ng-selected="selected">Select</option>
				</select><br>
			<div
				class="col-md-12 col-xs-12 col-sm-12 col-lg-12 padding-zero button-align">
				<button type="button" ng-click="cancel()"
					class="btn btn-warning pull-right btn-align-reg">
					<i class="fa fa-times-circle"></i> Cancel
				</button>
				<button type="button" ng-click="saveJob()"
					class="btn btn-primary pull-right">
					<i class="fa fa-save"></i> Save
				</button>
			</div>
		</div>
	</form>
	<table width="100%" class="table-hover table-striped table table-bordered pull-left">
	<tbody>
		<tr>

			<th>Job title</th>
			<th>Job description</th>
			<th>Band</th>
			<th class="width10">Edit</th>
			<th class="width10">Delete</th>
		</tr>
		<tr data-ng-repeat="jobTitle in jobs| filter:search:strict">
			<td>{{jobTitle.title}}</td>
			<td>{{jobTitle.description}}</td>
			<td>{{jobTitle.band.name}}</td>
			<td class="settings-edit" ng-click="editJob(jobTitle)"><a
				href=""><i class="fa fa-edit"></i></a></td>
			<td class="settings-delete" ng-click="deleteJob(jobTitle)"><a
				href=""><i class="fa fa-trash-o"></i></a></td>
		</tr>

	</tbody>
</table>
</div>
