<div class="" id="leaveBalance">
            <!-- start address -->            
<form  validate="validate" id="validation-form" role="form" class="form-horizontal col-md-12 ng-scope tab-cont-align" name="myForm">
<div class="prof-tab-title col-md-12 pull-left padding-zero"><div class="title-font pull-left">Employees Leave Balance</div>

 	<!-- <div class="subnavbar pull-right">
 		<ul class="nav pull-right">
		 <li class="dropdown">
			<button class="btn btn-primary pull-right dropdown-toggle search-fltr" data-toggle="dropdown" type="button"><i class="fa 

				fa-filter"></i></button>
		</li>
 		</ul>
	</div>

	<div class="col-md-3 pull-right search-bx padding-zero">
	<input class="form-control" type="text"  name="" placeholder="Search Emp Name" ng-model="search.first">
	</div> -->
	
</div><br><br><br>

<div class="gridStyle" ng-grid="gridOptions"></div>
 </form>   
</div>	





<!-- <table width="100%" class="table-hover table-striped table table-bordered pull-left">
  <tr>
    <th>Emp ID</th>
    <th>Name</th>
    <th>No of Leaves</th>
    <th>Balance</th>
    </tr>
   
  
 <tr data-ng-repeat="leave in leavesList| filter:search:strict | startFrom:current*page | limitTo:page">
  	<td>{{leave.id}}</td>
  	<td>{{leave.first}} {{leave.last}}</td>
   	<td>{{leave.available}}</td>
	<td>{{leave.balance}}</td>
	</tr>
</table>  

 
 <button class="btn btn-primary"  ng-disabled="current == 0" ng-click="current=current-1">
 Previous 
 </button>
 <span> {{current+1}}/{{pages()}}</span>
<button class="btn btn-primary" ng-disabled="current >= leavesList.length/page - 1" ng-click="current=current+1">
 Next
 </button>  -->
    


	

							
